<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body{
            margin: 0;
            font-family: sans-serif;
        }
        .emp{
            width: 60%;
            display: inline-block;
        }
        .emp-list li{
            height: 7vh;
            background-color: lightgray;
            margin-bottom: 1%;
            padding: 1rem;
        }
        .details{
            display: inline-block;
            width: 60%;
        }
        .links{
            display: inline-block;
            width: 32%;
        }
        .links a{
            color: black;
            text-decoration: none;
        }
        .links a:hover{
            text-decoration: underline;
        }
        .review{
            display: inline-block;
            margin-top: 2%;
        }
        .admin-operation{
            border-left: 1px solid black;
            height: 100vh;
            vertical-align: top;
            display: inline-block;
            padding-top: 3%;
            width: 30%;
            background-color: purple;
            position: fixed;
        }
        .admin-operation ul li > a{
            color:whitesmoke;
            text-decoration: none;
        }
    </style>
</head>
<body>
    
    <div class="emp">
        <h2>Admin Dashboard</h2>
        <ul style="list-style: none;" class="emp-list">
                                                            <!-- Displaying all employs to perform add/modify review options -->
            <% for(let employ of employs){ %>   
                                                            <!-- An Admin can't write his own performance review -->
               <% if(locals.user.Email != employ.Email){%>  
                <li>
                    <div class="details">
                        <span>Name: <%= employ.Name %></span>
                        <span>Email: <%= employ.Email %></span>
                    </div>
                    <div class="links">
                        <a href="/performance/view/<%= employ.id %>"><span>Add/Edit Review</span></a>
                        &nbsp;&nbsp;&nbsp;<a href=""><span>Assign a Review</span></a>
                    </div>
                    <div class="review">
                        <% for(let rev of reviews){ %>
                                                                <!-- Searching for this particular employs review to display -->
                            <% if(rev.EmpId == employ.id){%> 
                                <b>Rating:</b>&nbsp;<span><%= rev.rating %></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Review:&nbsp;</b><span><%= rev.review %></span>
                            <% } %>
                        <% } %>
                        
                    </div>
                </li>
               <% } %>

            <% } %>

        </ul>
    </div>
    <aside class="admin-operation">
        <ul style="list-style: none;">
            <li>
                <a href="/admin/create-admin">Make a new Admin</a>
            </li>
            <li>
                <!-- giving the same route of all employs -->
                <a href="/admin/delete-employ">Delete an employ</a> 
            </li>
            <li>
                <a href="/admin/new-employ">Add a new Employ</a>
            </li>
        </ul>
    </div>

</body>
</html>